@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.btn-primary{
    width: 224px;
    height: 54px;
    margin-top: 24px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
}
.head{
    /* background: linear-gradient(
        180deg,
        rgb(17, 17, 17) 0%,
     rgba(119, 119, 119, 0) 100%
     /* ); */
     background: radial-gradient( rgba(119, 119, 119, 0),rgb(17, 17, 17)
    );
     /* height: 715px; */
     /* margin: 0 auto; */
}

/* navbar css start here */
.navbar-wrapper{

     padding: 58px ;
     
    }
 .navbar-main{
        /* border: 1px solid red; */
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin:  0 auto;

}
.navbar-main h1{
    font-weight: 800;
    font-size: 36px;
    color: rgb(230, 83, 60);
}
.nav-menu-btn{
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}
.nav-menu-home{
    width: 92px;
    height: 38px;
    background-color:  rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    border-radius: 30px;
}
.nav-menu{
    font-weight: 700;
    font-size: 15px;
    background: none;
    color: white;
    border: none;
    margin-left: 30px;
    padding: 4px 19px 4px 19px;
}
.nav-hamburger-menu{
    display: none;
}

/* main-content css style */

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.main-content{
    display: flex;
    margin: auto;

}
.main-title h1{
 width: 520px;
 /* height: 282px; */
 font-weight: 900;
 font-size: 69px;
 color: rgb(255, 255, 255);
}
span{
    font-family: "Great Vibes", cursive;
    /* font-family: "Sevillana", cursive; */
    /* font-family: "Dancing Script", cursive; */
}
.main-title p{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5);
}
.main-btn{
    display: flex;
    gap: 15px;
}
#btn-primary-2{
    background: none;
    border: 1px dotted white;

}
.main-banner-image{
    /* width: 100%; */
    position: relative;
}
.workout-video{
    /* width: 193px; */
    width: 52%;
    /* height: 98px; */
    text-align: center;
    padding: 15px 3px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px);
    color: rgb(255, 255, 255);
    /* border: 2px solid red; */
    position: absolute;
    top: 24%;
    left: 70%;
    border-radius: 12px;
}
.video-tutorial{
    /* border: 1px solid red; */
    width: 57%;
    /* text-align: center; */
    padding: 15px 43px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 75%;
    right: 75%;
    border-radius: 12px;

}
/* Change Your Habits css styles */
.habits-section{
    background-color: rgb(0, 0, 0);
}
.habits-section-content{
    width: 1040px;
    /* height: 452px */
    margin: 0 auto;
}
.habits-section-container{
    padding-top: 60px;
}
.habits-section-container h2{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
   
}
.habits-section-container p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    
}
.change-habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 54px;
}
.habits-1 img{
    border-radius: 50%;
    /* padding: 10px; */
}
.habits-1 h3{
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.habits-1 p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* Run an Extra Mile Easily css styles */
.extra-run-section{
    width: 1060px;
    height: 371px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(34, 34, 34);
    border-radius: 17px;
    margin-top: 60px;
    padding: 32px;
}
.extra-run-container{
    margin-top: 70px;

    color: aliceblue;
}
.extra-run-container h1{
    font-weight: 900;
    font-size: 2.8rem;
}
.run-image img{
    width: 366px;
   height: 312px;
   border-radius: 18px;
}
/* BMI Calculator css styles */
.bmi-content{
    width: 671px;
    height: 120px;
    margin: 0 auto;
    margin-top: 45px;
    /* border: 1px solid red;/ */
}
.bim-container h1{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
}
.bim-container p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

/* BMI Calculator Chart Css Styles */

.bim-calculator{
    background-color: rgb(34, 34, 34);
    height: 487px;

}
.bim-calculator-content{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 5%;

}
.bim-calculator-container h3{
    color: rgb(255, 255, 255);
    margin-bottom: 55px;
    font-weight: 900;
    font-size: 28px;
}

table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}
.table-heading{
    color: rgb(255, 255, 255);
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.5);
}
.bim-calculate-container{
    width: 577px;
    height: 386px;
    
}
.bim-calculate-container h3{
    font-weight: 900;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
.bim-calculate-container p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 34px;
}
.inp-1{
    width: 282px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* color: rgba(255, 255, 255, 0.1); */
    margin-top: 12px;
}
.inp-2{
    width: 577px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Meet Our Team css styles */

.our-team-member{
    background-color: black;
}
.meet-team-content{
    width: 1060px;
    height: 892px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}
.meet-team-container{
    width: 671px;
    height: 120px;
    margin: 0 auto;
    padding-top: 80px;
}
.meet-team-container h1{
    font-size: 48px;
    color: rgb(255, 255, 255);
}
.meet-team-container p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 19px;

}
.team-image-container{
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 105px;
}

.team-member-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.team-member-image img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
}

/* footer section css styles */
.fitness-footer-section{
    background-color: rgba(175, 9, 9, 0.1);
    
    padding-top: 88px;
}
.fitness-section-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 66px 191px 174px 190px;
}
.fitness-section-container h1{
    font-weight: 800;
    font-size: 70px;
color: rgb(230, 83, 60);
}
ul,li{
    text-decoration: none;
}


@media screen and (max-width: 576px) {
    .navbar-wrapper {
        padding: 18px;
    }
    .main-content{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: none;
    }
    .nav-hamburger-menu{
        display: block;
        font-size: 50px;
    }
    .main-title h1{
        width: 295px;
        font-size: 33px;
       

    }
    .main-banner-image img{
/* width: 100%; */
    }
    .workout-video{
        width: 40%;
        top: 10%;
        left: 45%;
        padding: 5px 2px;
    }
    .video-tutorial{
        width: 35%;
        top: 50%;
        right: 60%;
        text-align: center;
        padding: 5px 9px;
    }
    
    .habits-section-content{
        width: 338px;
        height: 1398px;
        margin: 0 auto;
       
        /* align-items: center; */
        
    }
    .change-habits-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .habits-section-container h2{
        font-size: 32px;
    }
    .habits-1{
        margin-top: 35px;
        text-align: center;
       
    }
    .extra-run-container{
        gap: 15px;
    }
    .extra-run-section{
        flex-direction: column;
        width: 353px;
        height: 531px;
        padding: 25px;
        /* justify-content: center;
        align-content: center; */
    }
    .extra-run-container{
        margin-top: 5px;
    }
    #run-btn{
        /* text-align: center; */
        width: 287px;
       margin-bottom: 15px;
    }
    .run-image img{
        width: 287px;
        height: 170px;
    }
    .bmi-content {
        width: 100%;
    }
    .bim-calculator{
        /* width: 394px; */
        height: 817px;
        padding: 19px;
    }
    .bim-calculator-content{
        flex-direction: column;
    }
    .bim-calculator-container h3,
    .bim-calculate-container h3{
        width: 167px;
        font-size: 16px;
    }
    .bim-calculate-container {
        width: 392px;
    }
    .inp-1{
        width: 170px;

    }
    .inp-2 {
        width: 342px;
    }
    .meet-team-content{
        width: 309px;
    }
    .meet-team-container{
        width: 309px;
        height: 124px;
        margin: 0 auto;
    }
    .meet-team-container h1{
        font-size: 32px;
    }
    .team-image-container{
        width: 353px;
        height: 1750px;
    }
    .team-member-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-member-image img{
        width: 313px;
    }
 
}